/*Estilos para colores*/
.colores{
	color: red;
}

.color-hexadecimal{
	color: #6915E0;
}

.color-rgb{
	color: rgb(0, 255, 221);
}

.color-rgba{
	color: rgba(234, 0, 255, 0.685);
}

/* Fondos */
.fondo{
	color: aqua;
	/* background-color: cornflowerblue; */
	background-image:url("https://ak.picdn.net/shutterstock/videos/1027544711/thumb/1.jpg");
	background-position: center center;
}
.fondo-interno{
	background-image: url("imagenes/Fondo.jpg");
	background-position: left center;
}

/* Tamaños */
.ancho{
	background-color: #6915E0;
	width: 100px;
}

.alto{
	background-color: aqua;
	height: 100px;
}

.tarjeta{
	border-style: solid;
	border-color: rgb(93, 97, 96);
	border-width: 1px;
	/* border-top: none; */
	padding: 10px 20px;
/* 	padding: 10px 20px 30px 40px; */
	margin: 10px 0px;
}
