body{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.btn-modern:hover{
	display: flex;
	transform: translateY(-5px);
	background-color: green;
	border-radius: 5px;
	color: white;
	border-top: none;
	border-left: none;
	/* border-right: none; */
	border-bottom: 2.5px solid black;
	transition: transform 0.4s;
}